name: Update Guestbook

on:
  issue_comment:
    types: [created]

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Junseop1228/Junseop1228@main
        with:
          # 
          repo: 'Junseop1228/Junseop1228'
          # 
          issue-number: '1'
          # 
          github-token: ${{secrets.GITHUB_TOKEN}}
